header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px 0;
    text-align: center;
    background-color: #d61d1d;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
}

.logo {
    width: 100px;
    height: auto;
    vertical-align: middle;
}
.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.encabezado h1 {
    margin: 0;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 32px;
}
body {
    margin-top: 180px;
    background-color: rgb(17, 17, 17);
}

h2 {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
}
.samurai-image {
     width: 500px;
     height: auto;
     display: block;
     margin: 20px auto;
     border: 2px solid #ccc;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease;
}

.samurai-image:hover {
    transform: scale(1.05);
}

p {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}

.samurai-list {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    background-color: #d61d1d;
    padding: 5px;
    border-radius: 10px;
}

.samurai-list ul {

    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    background-color: #d61d1d;
    padding: 5px;
    border-radius: 10px;
}

.samurai-list li, .clanes li {
    float: none;
    margin: 8px 0;
    text-align: left;
}

.clanes{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    background-color: #d61d1d;
    padding: 5px;
    border-radius: 10px;
}

button {
    width: 200px;
    height: 70px;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(#d61d1d, #7c0a0a);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones-eras {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(#7c0a0a,#d61d1d);
}

.era-info {
    display: none;
    background-color: rgba(73, 73, 73, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}

footer {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d61d1d;
}

li {
    margin-right: 15px;
    float: left;
}

li a {
 display: block;
 text-decoration: none;
 color: aliceblue;
 padding: 15px 50px;
 text-align: center;
}

a {
 display: block;
 padding: 8px;
 background-color: #d61d1d;
 }

a:hover {
 background-color: #d43838;
}

.pregunta {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
}

